label {
	font-family: "Raleway", sans-serif;
	font-size: 1.875em;
    font-weight: bold;
	display: block;
    background-image: linear-gradient(to right, rgb(173, 14, 14), rgb(104, 10, 10), black);
    color: transparent;
    background-clip: text;
}

.negrito {

    color: transparent;
    background-clip: text;
    background-image: radial-gradient(circle, rgb(136, 12, 12), rgb(58, 6, 6), black);
    font-size: 3.75em;
    align-items: center;
    font-family: "Raleway", sans-serif ;
  

}

body {
    background-image: radial-gradient(circle, rgb(243, 11, 11), rgb(122, 9, 9), rgb(48, 4, 4));
}

body form{
    background-color: lightgoldenrodyellow;
    align-items: center;
}

form {
    height: 62.5em;
    width: 62.5em;
    margin: 0 auto;
    padding-top: 1.875em;
    border-radius: 1.25em;
    
}

.sexo {
    margin-top: 1.25em;
}

.Membros {
    margin-top: 1.25em;
}

.Fan {
    margin-top: 1.25em;
}

.span1 {
	font-family: "raleway", sans-serif;
	font-size: 1.25em;
}

button {
	display: inline-block;
	color: white;
	padding: 0.938em 1.563em;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color:#ad404d ;
	border: none;
	border-radius: 0.938em;
	font-family: "Raleway", sans-serif ;
	transition-duration: 0.4s;
	
}

button:hover {
	background-color: #85333c;
}



input[type=submit] {
	border: none;
	background-color: #ad404d;
	color: white;
	font-family: "raleway", sans-serif;
	padding: 0.75em 1.5em;
    margin-top: 3.75em;
	margin: 0.25em, 0.125em;
	font-size: 1.563em;
    font-weight: bold;
	cursor: pointer;
	border-radius: 0.5em;
	transition: 0.5s;
    width: 80%;
    background: radial-gradient(circle, rgb(136, 12, 12), rgb(58, 6, 6), black);
	
}

input[type=submit]:hover {
	width: 85%;

}


input[type=text],
input[type=date],
input[type=password],
textarea {
    width: 80%;
	padding: 0.75em 1.25em;
	margin: 0.5em 0;
	display: inline-block;
	border: 0.188em solid #4d4747;
    border-radius: 0.625em;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	transition: 0.5;
	outline: none;
    transition: 0.5;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus
{
   border: 0.188em, solid, #242222; 
}

input[type=range]
{
    width: 20%;
    border-width: 0.125em;
}

label {
    margin-top: 0.625em;
    margin-bottom: 0.313em;
    
}

